#homePage {

    height: 100dvh;
    background-color: #D6D6CA;
}

.homeTitle {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 25vw;
    display: block;
    text-align: center;
}
.homeTitle p:nth-child(1) {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
}
.homeTitle p:nth-child(2) {
    font-size: 1vw;
}

.homeTitle #LM {
    width: 15vw;
    height: 2vh;
    appearance: none;
    border: none;
    outline: none;
    background-color: #355E3B;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    padding:  10px;
}



.features {
    position: absolute;
    bottom: 0;
    left: 30px;
    text-align: center;
    width: fit-content;
    display: flex;
}
.features .feat .fTitle {
    font-size: 130%;
    margin: 0;
    font-weight: bold;
    margin: 0 90px
}

.features .feat #lock {
    width: 20%;
    height: auto;
}
.features .feat #alarm {
    width: 22.5%;
    height: auto;
}
.features .feat #locate {
    width: 17%;
    height: auto;
}
.features .feat .fDesc {
    font-size: 120%;
    font-weight: 350;
}

#hBike {
    position: absolute;
    width: 45vw;
    height: auto;
    bottom: 15%;
    right: 15%;
    z-index: 999;
}

.dlPad {
    position: absolute;
    right: 0;
    background-color: #5F8575;
    width: 28vw;
    height: 100vh;
    border-radius: 20px 0 0 20px;
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.dlPad .dlButtonCon{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 10vh;
    margin: auto;
    border-radius: 20px 20px 0 0;
    background-color: #355E3B;
}
.dlPad .dlButtonCon #btnDL{
    appearance: none;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    padding-top: 4%;
    width: 100%;
    background-color: #355E3B;
    border-radius: 20px 20px 0 0;
    color: white;
}
.dlPad .dlButtonCon #btnDL p:nth-child(1) {
    font-size: 120%;
    margin: auto;
}
.dlPad .dlButtonCon #btnDL p:nth-child(2) {
    font-size: 100%;
    margin: auto;
}
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #355E3B; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation: spin 1s linear infinite;
    position: absolute; /* Position it absolutely inside the button */
    top: 40%;
  left: 50%;
  }
  
  /* Keyframe animation to rotate the spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  button:disabled {
    background-color: #ccc; /* Make the button look disabled */
    cursor: not-allowed; /* Show "not-allowed" cursor */
  }
  .downloadIcon {
    margin-left: 8px; /* Space between the text and icon */
    vertical-align: top; /* Aligns the icon to the top of the text */
    font-size: 1.2rem; /* Adjust the icon size */
    color: #ffffff; /* Customize the color (optional) */
    transition: transform 0.3s ease; /* Add transition for hover effect */
  }
  
  .downloadIcon:hover {
    transform: translateY(-2px); /* Slightly lift the icon on hover */
    
  }


@media only screen and (max-width: 768px) {
    .homeTitle {
        position: absolute;
        top: 5%;
        width: 70vw;
        left: 150px;
        display: block;
        text-align: center;
        justify-content: center;
        text-align: center;
   
    }
    .homeTitle p:nth-child(1) {
        font-size: 15vw;
        font-weight: bold;
        margin: 0;
        
        
    }
    .homeTitle p:nth-child(2) {
        font-size: 5vw;
        
    }
    
    .homeTitle #LM {
        width: 40vw;
        height: 4vh;
        appearance: none;
        border: none;
        outline: none;
        background-color: #355E3B;
        color: white;
        border-radius: 10px;
    
     
        
    }

    .features {
        position: absolute;
        bottom:1%;
        left: 20px;;
        text-align: center;
        width: fit-content;
        display: flex;
       

       
    }
    .features .feat .fTitle {
        font-size: 100%;
        margin: 0;
        width: 40vw;
        font-weight: bold;
        margin: 0 10px;
        left: 20%
      
      
    }
    
    .features .feat #lock {
        width: 11.5%;
        margin-bottom: 10px;
        
        height: auto;
    }
    .features .feat #alarm {
        width: 16.5%;
        margin-top: 5;
        margin-bottom: 8px;
        height: auto;
    }
    .features .feat #locate {
        width: 10%;
        height: auto;
        margin-bottom: 9px;
    }
    .features .feat .fDesc {
        font-size: 70%;
        font-weight: 350;
    }

    #hBike {
        position: absolute;
        width: 75vw;
        margin-top: 10px;
        height: auto;
        bottom:30%;
        left: 40%;
        top:30%;

        
    }

    .dlPad {
        position: absolute;
        bottom: 15%;
        top: 70%;
        left: 25%;
        background-color: #5F8575;
        width: 100vw;
        height: 10vh;
        border-radius: 10px;
      
    }
    .dlPad .dlButtonCon{
        display: block;
        margin: auto;
        background-color: #355E3B;
        top:15%;
        
    }
    .dlPad .dlButtonCon #btnDL{
        appearance: none;
        outline: none;
        border: none;
        display: block;
        margin: auto;
        margin-top: 3%;
        background-color: #355E3B;
        color: white;
        padding: 10px;
    }
    .dlPad .dlButtonCon #btnDL p:nth-child(1) {
        font-size: 100%;
        margin: auto;
    }
    .dlPad .dlButtonCon #btnDL p:nth-child(2) {
        font-size: 80%;
        margin: auto;
    }
}